<%- include('partials/header2') %>

<div class="container rounded bg-white mt-5 mb-5" id="box">
    <div class="row">
        <div class="col-md-3 border-right">
            
        </div>
        <div class="col-md-7 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between  align-items-center mb-3">
                    <h4 class="text-right mx-auto">View Courses</h4>
                </div>
                <div class="row mt-2 table-responsive">
                    <img src="images/logo/logo.png" alt="Achievers-logo" class="align-items-center">
                    <table class="table">
                        <thead class="thead">
                            <tr>
                                <th scope="col">Achievers University</th>
                            </tr>
                            <tr>

                            </tr>
                        </thead>
                        <tbody>
                            <% for (i = 0; i < students.length; i++) { %>
                                <tr>
                                    <td><%= view[i].courseCode %></td>
                                    <td><%= view[i].courseTitle %></td>
                                    <td><%= view[i].courseGrade %></td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                    <%= view %>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') %>