<%- include('partials/header2') %>

<div class="container rounded bg-white mt-5 mb-5" id="box">
    <div class="row">
        <div class="col-md-3 border-right">
            
        </div>
        <div class="col-md-7 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between  align-items-center mb-3">
                    <h4 class="text-right mx-auto">View Result</h4>
                </div>
                <div class="row mt-2 table-responsive">
                    <img src="images/logo/logo.png" alt="Achievers-logo" class="align-items-center">
                    <table class="table">
                        <thead class="thead">
                            <tr>
                                <th scope="col">Achievers University</th>
                            </tr>
                            <tr>
                                <td>Name: <%= student.firstname %> <%= student.lastname %></td>
                                <td>Level: <%= student.level %></td>
                                <td>Department: <%= student.department %></td>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (i = 0; i < students.length; i++) { %>
                                <tr>
                                    <td><%= students[i].courseCode %></td>
                                    <td><%= students[i].courseTitle %></td>
                                    <td><%= students[i].courseGrade %></td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                    <% for (i = 0; i < students.length; i++) { %>
                        <% if (students[i].gpa) { %>
                            <span>GPA: <%= students[i].gpa %></span>
                            <span>CGPA: <%= students[i].cgpa %></span> 
                        <% } %>   
                    <% } %>                    
                </div>
            </div>
        </div>
    </div>
  </div>

<%- include('partials/footer') %>